body {
  font-family: Roboto, sans-serif;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav {
  max-width: 900px;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  transition: all .5s ease-in-out;
}

nav.fixed {
  position: fixed;
  top: 0;
  bottom: unset;
}

nav a {
  text-align: center;
  flex-grow: 1;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  padding: 30px 0;
  transition: all .5s ease-in-out;
}

nav.fixed a {
  background: #000;
}

#landing,
#about,
#demo,
#contact {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 22px;
}

#landing {
  color: #fff;
  background: url("../img/kroeg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#about {
  background: #ffee06;
}

#about p {
  width: 80%;
  max-width: 900px;
  margin: 22px auto;
}

#contact {
  background: #000;
  color: #fff;
}

#contact p {
  margin-bottom: 50px;
}

.gmap_canvas {
  width: 90%;
  max-width: 900px;
  height: 50vh;
}

#demo {
  justify-content: space-evenly;
  max-width: 1070px;
  margin: auto;
}

.demo-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.demo-wrapper svg {
  height: 50%;
  width: 50%;
}

#human-inside,
#human-inside-stationary {
  transform: translate(60px, -38px) scale(1);
}

#human-inside.move {
  transition: .3s transform ease-in-out;
  transform: translate(0);
}

#human-outside.move {
  transition: .3s transform ease-in-out;
  transform: translate(60px, -38px);
}

#human-outside-stationary,
#human-inside-stationary {
  transition: .3s transform ease-in-out;
  transform-origin: 5px 100px 0;
}

#human-outside-stationary.hide {
  transition: unset;
  transform: scale(0);
}

#human-inside-stationary.hide {
  transition: unset;
  transform: translate(60px, -38px) scale(0);
}

.counter {
  width: 40%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.counter-number {
  font-size: 75px;
}

.logo svg {
  width: 80%;
  max-width: 900px;
}

.logo svg #laser-star {
  transition: .1s all ease-in-out;
  transform: scaleY(0);
  transform-origin: center;
}

.logo svg #laser-line {
  transition: .3s all ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.logo.laser-on svg #laser-star {
  transition-delay: .3s;
  transform: scaleY(1);
}

.logo.laser-on svg #laser-line {
  transform: scaleX(1);
}
