body {
  font-family: Roboto, sans-serif;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav {
  max-width: 900px;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  transition: all .5s ease-in-out;
}

nav.fixed {
  position: fixed;
  top: 0;
  bottom: unset;
}

nav a {
  text-align: center;
  flex-grow: 1;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  padding: 30px 0;
  transition: all .5s ease-in-out;
}

nav.fixed a {
  background: #000;
}

#landing,
#about {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 22px;
}

#landing {
  color: #fff;
  background: url("/img/kroeg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#about {
  background: #ffee06;
}

#about p {
  width: 80%;
  max-width: 900px;
  margin: 22px auto;
}

.logo svg {
  width: 80%;
  max-width: 900px;
}
